.app-navbar {
  min-height: 56px !important;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

/* LEFT GROUP */
.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.navbar-logo {
    height: 24px;
    width: 179px;
}
.hamburger-icon {
  height: 24px;
  width: 24px;
  border: 1px solid #E8E8E9;
  border-radius: 5px;
  transition: transform 0.25s ease;
}

/* Sidebar expanded → point LEFT */
.hamburger-icon.collapsed {
  transform: rotate(180deg);
}

/* Sidebar collapsed → point RIGHT (default) */
.hamburger-icon.expanded {
  transform: rotate(0deg);
}
.menu-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.app-logo {
  font-weight: 600;
  font-size: 16px;
}

/* SEARCH */
.search-box {
  display: none;
  align-items: center;
  gap: 8px;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  padding: 8px 12px;
  border-radius: 8px;
  width: 260px;
  margin-left: 12px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  width: 100%;
}

.search-icon {
  color: #6b7280;
}

/* RIGHT GROUP */
.nav-right {
  display: none;
  align-items: center;
  gap: 12px;
}

.icon-btn {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  color: #5E6062;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* NOTIFICATION */
.notification {
  position: relative;
}

.notification .dot {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 8px;
  height: 8px;
  background: #ef4444;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .search-box {
    width: 180px;
  }

  .app-logo {
    display: none;
  }
}

