.business-entity-page {
  padding: 24px;
  background: #f8fafc;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}
.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #6b7280;
}

.breadcrumb img {
  margin-right: 8px;
}
.breadcrumb span {
  font-weight: 400;     /* override any inherited bold */
  color: #6b7280;
}

.breadcrumb .active {
  font-weight: 500;     /* slightly bold */
  color: #111827;       /* dark for last item */
}

/* Header */
.page-header h2 {
  margin: 0;
  font-size: 22px;
}

.page-header p {
  margin-top: 4px;
  font-size: 13px;
  color: #6b7280;
}

/* Card */
.entity-card {
  margin-top: 20px;
  background: #ffffff;
  border-radius: 10px;
  padding: 24px;
  border: 1px solid #e5e7eb;
}

/* Grid */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

.form-col label {
  display: block;
  font-size: 14px;
  margin: 14px 0 6px;
  color: #111827;
}

.form-col label span {
  color: red;
}

.form-col input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #c7d2fe;
  font-size: 14px;
}

.logo-box {
   width: 100%;                 /* ✅ take full column width */
  height: 168px;               /* ✅ exact figma height */
  border: 1px solid #CFD6E8;
  border-radius: 8px;
  padding: 10px 16px;          /* ✅ figma padding */
  background: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}


/* Center Logo Area */
.logo-box img {
  width: 78px;
  height: 80px;
  object-fit: contain;
  margin: 0 auto;
}

/* Info text */
.logo-info {
  text-align: center;
  font-size: 12px;
  color: #6b7280;
  margin: 0;
}

/* Buttons aligned inside box */
.logo-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Upload button */
.upload-btn {
  background: #2563eb;
  color: #fff;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

/* Clear button */
.clear-btn {
  background: #fff;
  border: 1px solid #2563eb;
  color: #2563eb;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  
}

/* Actions */
.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 30px;
}

.save-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  background: #fff;
  border: 1px solid #2563eb;
  color: #2563eb;
  padding: 10px 22px;
  border-radius: 6px;
  cursor: pointer;
}
